* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

/* body {
  font-family: "inter", sans-serif;
  color: #343a40;
  line-height: 1;
  background-color: #fff;
} */

.carousel-wrapper {
  /* position: relative;
  display: flex;
  align-items: center; */
}

.carousel {
  background-color: #087f5b;
  width: 800px;
  margin: 100px auto;
  border-radius: 8px;

  padding: 32px 48px 32px 86px;

  display: flex;

  gap: 86px;
  /* column-gap: 64px; */
  align-items: center;
  position: relative;
}

.slide {
  opacity: 0;
}
.active-anim {
  opacity: 1;

  transition: opacity ease-in-out 0.4s;
}

.testimonial {
}
.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testimonial-author {
  font-size: 14px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}
img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

/*  CONTROLS */
.btn-control {
  height: 40px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  border: none;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot-control {
  height: 12px;
  width: 12px;
  border-radius: 50%;

  background-color: #fff;
  border: 2px solid #087f5b;
  cursor: pointer;
}

.dot--active {
  background-color: #087f5b;
}
